<div class="container px-5 py-5">
  <div class="row">
    <div class="col-md-8 offset-md-1">
    <h2>配送先登録/一覧</h2>
     <% if @address.errors.any? %>
      <%= @address.errors.count %>error prohibited this obj from being saved
      <% @address.errors.full_messages.each do |message| %>
       <%= message %>
      <% end %>
     <% end %>

     <%= form_with model: @address, url: addresses_path(@address), method: :poat, local: true do |f| %>
     <div class="form-row">
      <div class="form-group col-4">
       <div>郵便番号（ハイフンなし）</div>
      </div>
      <div class="form-group col-8">
       <div><%= f.text_field :postal_code %></div>
      </div>
     </div>
     <div class="form-row">
      <div class="form-group col-4">
       <div>住所</div>
      </div>
      <div class="form-group col-8">
       <div><%= f.text_field :address %></div>
      </div>
     </div>
     <div class="form-row">
      <div class="form-group col-4">
       <div>宛名</div>
      </div>
      <div class="form-group col-4">
       <div><%= f.text_field :name %></div>
      </div>
      <div class="form-group col-4 text-right">
       <div><%= f.submit '新規登録',  class: "btn btn-success btn-sm create book" %></div>
      </div>
     </div>
     <% end %>

    <table class="table">
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td><%= link_to "編集する", edit_address_path(address),  class: "btn btn-sm btn-success btn-sm edit" %>
         <%= link_to "削除する", address_path(address), method: :delete, data: {confirm: "本当に消しますか？"},  class: "btn btn-sm btn-danger btn-sm delete" %>
        </td>
      </tr>
      <% end %>
    </tbody>
   </div>
  </div>
</div>