<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-3">
    <h2>管理者ログイン</h2>

    <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
    <div class="form-group row">
       <table calss="table">
          <tr>
          <th>メールアドレス</th>
           <td class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
           </td>
          </tr>

          <tr>
          <th>パスワード(6文字以上)</th>
           <td class="field">
            <%= f.password_field :password, autocomplete: "current-password" %>
           </td>
          </tr>
          <tr>
           <th></th>
           <td class="actions">
            <%= f.submit "ログイン",class: "btn btn-primary btn-sm sign_in" %>
           </td>
          </tr>
          <% end %>
       </table>
      </div>

     <%= render "admins/shared/links" %>
    </div>
  </div>
</div>