<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-3">
    <h2>ログイン</h2>
     <h5>会員の方はこちらからログイン</h5>

     <%= form_with model: @customer, url: customer_session_path, method: :post, local: true do |f| %>
     <div class="form-group row">
       <table calss="table">
          <tr>
          <th>メールアドレス</th>
           <td class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
           </td>
          </tr>

          <tr>
          <th>パスワード(6文字以上)</th>
           <td class="field">
            <%= f.password_field :password, autocomplete: "current-password" %>
           </td>
          </tr>
          <tr>
           <th></th>
           <td class="actions">
            <%= f.submit "ログイン",class: "btn btn-success btn-sm btn-block sign_in" %>
           </td>
          </tr>
          <% end %>
       </table>
      </div>
      <h5>会員登録がお済みでない方</h5>
       <div> <%= link_to "こちら", new_customer_registration_path %>から新規登録してください。</div>
   </div>
  </div>
</div>